<ion-content padding class="fill-bg">
    <img class="main-logo" src="./assets/images/logo.png">
    <form novalidate (ngSubmit)="signIn(username, password);" *ngIf="active" [formGroup]="signInForm" >
      <div class="form-group sign-in-input-fields">
        <ion-icon name="contact" class="sign-in-icon"></ion-icon>
        <input
         required 
         id="email" 
         type="email"
         name="email" 
         autocomplete="off" 
         class="sign-in-input form-control"
         placeholder="Email"
         formControlName="email"
         > 
      </div>
      <div 
          *ngIf="formsError.email"
          class="error"
          center
          >{{ formsError.email }}</div>
      <div class="sign-in-input-fields">
        <ion-icon name="lock" class="sign-in-icon"></ion-icon>
        <input 
          required 
          id="password" 
          name="password" 
          type="password" 
          autocomplete="off" 
          class="sign-in-input form-control" 
          placeholder="Password"
          formControlName="password"> 
      </div>
      <div 
          *ngIf="formsError.password"
          class="error"
          center
          >{{ formsError.password }}</div>
       <!--<div 
          *ngIf="formsError.password"
          class="alert alert-danger">{{ formsError.password }}</div>-->
      <div padding class="form-group">
        <button type="submit" ion-button block primary>SIGN IN</button>
      </div>
    </form>
    <div class="center">
      <img class="fb-logo" src="./assets/images/fb_icon.png" (click)="fbSignIn()" alt="">
      <img class="google-logo" src="./assets/images/googlePlus_icon.png" (click)="googleSignIn()" alt="">
      <p color="primary" ion-text (click)="forgot()">Forgot Password?</p>
    </div>
    <!--{{ facebook | json }}-->
    <!--{{ localStorage.getItem('x-access-token')}}-->
</ion-content>
<ion-footer>
  <button 
    block
    ion-button
    (click)="signupPage();"
    color="secondary"
    class="center uppercase">
      Don't have an account? Sign Up here.
  </button>
</ion-footer>
