<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <img src="./assets/images/burger_menu.png" alt="" style =" width:15px; height: 15px;">
    </button>
    <ion-title color="primary">Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fill-bg">

  <ion-spinner></ion-spinner>
  
  <img class="main-logo" src="./assets/images/logo.png">
  <h2 *ngIf="!emailSent" ion-text color="primary" class="center">Enter your email address</h2>
  <form action="#f" novalidate>
    <div *ngIf="!emailSent" class="forgot-input-div">
      <ion-icon  name="email" class="forgot-icon"></ion-icon>
      <input 
        type="email" 
        required
        id="email"
        name="email"
        autocomplete="off"
        class="forgot-input"
        [(ngModel)]="email"
        placeholder="Email"
        >
    </div>
    <h2 
      ion-text 
      color="primary" 
      class="center"
      *ngIf="emailSent">Please check your email</h2>
    <div padding>
      <button
        block
        primary 
        ion-button
        class="uppercase" 
        (click)="forgot(email)"><span *ngIf="emailSent">Resend Email</span><span *ngIf="!emailSent">Send Email</span></button></div>
  </form>
</ion-content>
