page-forgot-password {
    .main-logo{
        height: 25vh;
        display: block;
        margin: 10vh auto;
    }
    .forgot-input-div{
        padding: 0;
        background-color: #1F2C27 ;
        opacity: 0.75;
        margin: 2% auto 2% auto;
        width: 90%;
        .forgot-input{
            padding: 15px 25px;
            width: 90%;
            background: #1F2C27;
            border: none;
            color: white;
            font-size: 20px;
        }
        .forgot-icon{
            color: white;
            font-size: 22px;
            margin-left: 2%;
        }
    }

    .spinner svg, ion-spinner * {
  width: 48px;
  height: 48px;
  stroke: #59bd84;
  fill: #59bd84;
}
}
