 <ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <img src="./assets/images/burger_menu.png" alt="" style =" width:15px; height: 15px;">
    </button>
    <ion-title color="primary">Drop Off Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="fill-bg">
  <div class="parentDivScreen">
    <ion-item-divider style="border: 0" class="fill-bg" padding color="secondary">
      <div class="polygon-heading" color="secondary">
      <p color="secondary">Date and Time</p>
      </div>
    </ion-item-divider>
    <ion-row style="height: 27.75%;">
      <ion-col width-40>
      <div class="scrollableTime">
        <ion-item-divider 
          color="secondary" 
          *ngFor="let date of dates"
          class="drop-off-details-date-item-divider"
          [ngClass]="{ 'current': highlightedDiv === $date.id, 
                      'drop-off-details-date-item-divider':  highlightedDiv !== $date.id }"
          #$date
          (click)="toggleHighlight($date.id)"
          >
            <span class="drop-off-details-date-col uppercase">
              {{ date.toLocaleString(locale, { month: "short" }) }} {{ date.getDate() }}
              <sup *ngIf="date.getDate() == 1">ST</sup>
              <sup *ngIf="date.getDate() == 2">ND</sup>
              <sup *ngIf="date.getDate() == 3">RD</sup>
              <sup *ngIf="date.getDate() >= 4">TH</sup>
            <span class="weekday">{{ date.toLocaleString(locale, { weekday: "long" }) }}</span>
            </span>
        </ion-item-divider>
      </div>
    </ion-col>

     <ion-col width-30>
      <div class="scrollableTime2">
        <ion-item-divider 
          color="secondary" 
          *ngFor="let hour of hours"
          class="drop-off-details-date-item-divider"
                                        
          >
            <span style="text-align: middle" class="drop-off-details-date-col uppercase">
              {{ hour }}
            </span> 
        </ion-item-divider>
      </div>
    </ion-col>

    <ion-col width-30>
      <div class="scrollableTime">
        <ion-item-divider 
          color="secondary" 
          *ngFor="let minute of minutes"
          class="drop-off-details-date-item-divider"
          [ngClass]="{ 'current': highlightedDiv === $date.id, 
                      'drop-off-details-date-item-divider':  highlightedDiv !== $date.id }"
          #$date
          (click)="toggleHighlight($date.id)"
          >
            <span class="drop-off-details-date-col uppercase">
              {{ minute }}
            </span>
        </ion-item-divider>
      </div>
    </ion-col>

    
    </ion-row>
    
      <ion-item-divider class="fill-bg">
        <div class="ParentDiv">
          <div>
            <h2 class="careH2" color="dark">Laundered Shirts</h2>
            <img src="./assets/images/heading_bg.png" alt="Care Heading" class="careHeadingImg">
            
          </div>  
          <textarea name="launderedShirts" id="launderedShirtsTextArea" cols="30" rows="6" placeholder="Enter care instructions"></textarea>
        </div>
        
      </ion-item-divider>
    </div>
    <!--<ion-item-divider color="secondary" style="border-top: 0px; border-bottom: 0px; flex-wrap: wrap;">
      Item divider2
    </ion-item-divider>-->
  <!--</ion-list>
  <ion-list class="fill-bg" color="secondary" style="border-bottom: 0px" >
      <ion-item-divider style="border-top: 0px; border-bottom: 0px; flex-wrap: wrap;" color="secondary" *ngFor="let item of items" class="fill-bg">
        <ion-col class="fill-bg" style="background-color: transparent" item-left width-30>
        <ion-icon [name]="item.icon" item-left></ion-icon>
          Title
        </ion-col>

        <ion-col class="fill-bg" style="margin: 0px; padding: 0px; text-align: center" width-10 item-left>
        <img src="assets/images/inc_icon.png" style="width : 75% ; height : 75% " (click)="incrementQty(item)" >
        </ion-col>
        <ion-col style="text-align: center; max-width: 2em; padding:0px ; margin: 0px" item-left>
        {{item.qty}}
        </ion-col>
        <ion-col style="margin: 0px; padding: 0px; text-align: center" width-10 item-left>
        <img src="assets/images/dec_icon.png" style="width : 75% ; height : 75% " (click)="decrementQty(item)" >
      </ion-col>

        <ion-col class="fill-bg" style="border-bottom: 0px" item-right width-10>
          <button small ion-button [color] = "item.wash?'primary':'dark'" id="wash" (click)="wash(item)">W</button>
        </ion-col>
          <ion-col class="fill-bg" style="margin-left:10px" (click)="dry(item)" item-right width-10>
          <button small ion-button [color] = "item.dry?'primary':'dark'" id="Dry">D</button>
        </ion-col>

        <ion-col  class="fill-bg" style="min-width: 3em; text-align:center; margin-left: 10px" item-right width-10>
          {{item.total}}
        </ion-col>
        
      </ion-item-divider>
    </ion-list>-->
  <!--<div class="ParentDiv">
    <div>
      <h2 class="careH2" color="dark">Date and Time</h2>
      <img src="./assets/images/heading_bg.png" alt="Care Heading" class="careHeadingImg">
      
    </div>  
    <textarea name="launderedShirts" id="launderedShirtsTextArea" cols="30" rows="10" placeholder="Enter care instructions"></textarea>
  </div>
  
  <div class="ParentDiv">
    <div>
      <h2 class="dryCleanHeading" color="dark">Dry Cleaning</h2>
      <img src="./assets/images/heading_bg.png" alt="Care Heading" class="dryCleanImg">
      
    </div>
    <textarea name="launderedShirts" [id]="launderedShirts" cols="30" rows="10" placeholder="Enter care instructions"></textarea>
  </div>
  <button class="care-next-button" ion-button block color="primary">NEXT</button>-->
</ion-content>
<ion-footer>
  <button ion-button block>NEXT</button>
</ion-footer>