<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <img src="./assets/images/burger_menu.png" style =" width:15px; height: 15px;">
    </button>
    <ion-title>Orders History</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="fill-bg">
  <div class="heading">
        <ion-item-divider class="fill-bg" style="padding: 5px 10px 0 10px; border-bottom:0;">
            <div id="heading-bg" style="padding:10px; background: url('./assets/images/heading_bg.png'); text-align: center; background-size: 100%; background-repeat: no-repeat; background-position: center; width: 100%; height: 100%;" color="secondary">
                <p color="secondary" class="uppercase">Order History</p>
            </div>
        </ion-item-divider>
    </div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!(hideActivityLoader)" class="spinner-div">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="(response?.data.length == 0)" style="font-size: 150%;">
    <ion-item-divider class="fill-bg center" padding>
          <h2 style="overflow-wrap: break-word;">
            You have not placed any orders.
          </h2>
    </ion-item-divider>
    <ion-item-divider class="fill-bg center" padding style="border: 0; font-size: 120%;">
      <button ion-button block primary padding class="center uppercase" (click)="placeOrder();">Place an order</button>
    </ion-item-divider>
        <!--<h1 *ngSwitchDefault class="center">Loading...</h1>-->
  </div>
  <div *ngIf="response?.data.length != 0">
    <ion-list color="secondary" style="border-bottom:0;">
            <ion-item-divider color="secondary">
                <ion-row>
                    <ion-col width-20><div class="center col-heading">Order ID</div></ion-col>                    
                    <ion-col width-50><div class="center col-heading" block disabled>Status</div></ion-col>
                    <ion-col width-30><div block class="center col-heading uppercase">Eta</div></ion-col>
                </ion-row>
            </ion-item-divider>
            <ion-item-divider color="secondary" *ngFor="let item of response?.data">
                <ion-row>
                    <ion-col width-20 class="center">
                        <p ion-text class="id-hyperlink" color="primary" (click)="showOrderSummary(item._id)">
                          {{ item._id.slice(item._id.length-5, item._id.length) }}</p>
                    </ion-col >
                    <ion-col width-50 class="center">
                        {{ item.status.name }}
                        <!--{{ item.status }}-->
                    </ion-col>
                    <ion-col class="center" width-30>
                        {{ item.expectedDeliveryDate | date:'shortDate' }}
                    </ion-col>
                </ion-row>
            </ion-item-divider>
        </ion-list>
  </div>
</ion-content>
<ion-footer *ngIf="response?.data.length != 0" style="padding: 10px;" >
  <button 
    full
    ion-button
    style="height: 50px" 
    (click)="placeOrder();"
    color="primary"
    class="center uppercase">
       <p style="font-size: 20px;" color="secondary">Place a new Order</p>
  </button>
</ion-footer>-