.item.item-input {
    color: white;
}
profile{
    .parentDivScreen{
        height: 60vh;
    }
    input[type="date"]:before {
        content: attr(placeholder) !important;
        color: #aaa;
        margin-right: 0.5em;
    }
    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
        content: "";
    }
    .profile-input-fields{
        padding: 0;
        background-color: #1F2C27 ;
        opacity: 0.75;
        margin: 2% auto 2% auto;
        width: 90%;
        .profile-input{
            padding: 15px 25px;
            width: 90%;
            background: #1F2C27;
            border: none;
            color: white;
            font-size: 20px;
        }
        .ng-valid{
            color: color($colors, primary);
        }
        .ng-invalid{
            color: color($colors, danger);
            

        }
        .center{
            width: 20px!important;
            height: auto!important;
        }
        ::-webkit-input-placeholder, 
        :-moz-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder{
            text-align: center!important;
        }
        ::-webkit-input-placeholder, 
        :-moz-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder{
            text-align: center!important;
        }
    }
    input[type="date"]:before {
        content: attr(placeholder) !important;
        color: #aaa;
        margin-right: 0.5em;
    }
    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
        content: "";
    }
    .error{
            margin: 0 25px;
            color: color($colors, danger);
    }
}