page-order-summary {
    ion-item{
        border-bottom: 0!important; 
        color: white!important;
    }
    ion-row{
        border: 0!important;
    }
    .item-inner{
        border: 0!important;
    }    
}

