<ion-content padding class="fill-bg">
    <img class="main-logo" src="./assets/images/logo.png">
    <form novalidate [formGroup]="signUpForm" #f>
      <div class="sign-up-input-fields">
        <ion-icon name="contact" class="sign-up-icon"></ion-icon>
        <input 
          required 
          type="text" 
          id="username" 
          name="username" 
          autocomplete="off" 
          class="sign-up-input"
          [(ngModel)]="username"  
          placeholder="Username"
          formControlName="username">
          <ion-item *ngIf="!signUpForm.controls.username.valid  && (signUpForm.controls.username.dirty || submitAttempt)">
                <p>Please enter a valid Username.</p>
          </ion-item> 
      </div>
      <div class="sign-up-input-fields">
        <ion-icon name="lock" class="sign-up-icon"></ion-icon>
        <input
          required 
          id="password" 
          type="password"
          name="password" 
          autocomplete="off" 
          class="sign-up-input" 
          [(ngModel)]="password" 
          placeholder="Password"
          formControlName="password"> 
          <ion-item *ngIf="!signUpForm.controls.password.valid  && (signUpForm.controls.password.dirty || submitAttempt)">
                <p>password required 8 character to be validate itself.</p>
          </ion-item>
      </div>
      <div class="sign-up-input-fields">
        <ion-icon name="phone-portrait" class="sign-up-icon"></ion-icon>
        <input 
        required 
        id="phone" 
        type="tel"
        name="phone" 
        autocomplete="off" 
        [(ngModel)]="phone"  
        class="sign-up-input" 
        placeholder="Phone Number"
        formControlName="phone"> 
      </div>
      <div class="sign-up-input-fields">
        <ion-icon name="mail" class="sign-up-icon"></ion-icon>
        <input 
        required 
        id="email" 
        name="email" 
        type="email" 
        autocomplete="off" 
        [(ngModel)]="email" 
        placeholder="Email"
        class="sign-up-input"
        formControlName="email"> 
      </div>
      <div class="sign-up-input-fields">
        <ion-icon name="calender" class="sign-up-icon"></ion-icon>
        <input 
        required 
        id="dob" 
        name="dob" 
        type="date" 
        autocomplete="off" 
        [(ngModel)]="dob" 
        placeholder="Date of Birth"
        class="sign-up-input"
        formControlName="dob"> 
        <!--<ion-datetime 
          displayFormat="DD/MM/YYYY" 
          pickerFormat="DD MMMM YYYY" 
          [(ngModel)]="myDate"
        ></ion-datetime>-->
      </div>
      <div padding>
        <button 
        block 
        primary 
        ion-button
        class="uppercase"
        (click)="signUp(username, password, phone, email, dob);">Sign Up</button>
      </div>
    </form>
    <div class="center">
      <img class="fb-logo" src="./assets/images/fb_icon.png" alt="">
      <img class="google-logo" src="./assets/images/googlePlus_icon.png" alt="">
    </div>
</ion-content>
<ion-footer>
  <button 
    block
    ion-button
    (click)="signinPage();"
    color="secondary"
    class="center uppercase">
      Already have an account? Sign In here.
  </button>
</ion-footer>