// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header { 
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49); 
    -moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49); 
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
 }
 
.myBg { background-color:color($colors, secondary); }

.center { text-align: center; }

.uppercase{ text-transform: uppercase }

 .polygon-heading{
   text-align: center; 
   background: url('./../assets/images/heading_bg.png'); 
   background-size: 100%; background-repeat: no-repeat;
   background-position: center; 
   padding-top: 5px; 
   border-bottom: 0px;
   padding: 10px;
 }

 .alert-wrapper {
   background-color:color($colors, secondary)!important;
    color: color($colors, primary);
    .alert-message {
    color: white;
 }
 }
 

.footer-padding { padding: 1% 3%; }
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #fff;
}