additional-note{
  .text-input:-ms-input-placeholder {
    color: white;
  }

  .button-icon-size{
          width: 30px;
          height: 35px;
      }

  .fill-bg{
    background-color:color($colors, secondary);
  }
  textarea{
    color: white;
  }
  .uppercase{
    font-size: 10px;
  }

  
}
 