ion-content#careIns{
    background: color($colors, secondary)!important;
    color: color($colors, secondary)!important;
}

.care-next-button{
    margin-top: -10%;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
     .ParentDiv{
        text-align: center;
        padding: 8% 3%;
        margin: 10% 1%;
    }

    .ParentDiv textarea{
        background: color($colors, secondary)!important;
        border: 0px;
        resize: none;
        font-size: 150%;
        border: 2px solid #7D7979;    
        width: 100%;
        padding: 12% 4%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                box-sizing: border-box;         /* Opera/IE 8+ */
                
    }

      .careHeadingImg{
        position: absolute;
        z-index: 100;
        top: 9.25%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 80%;
    }

    .careH2{
        position: absolute;
        z-index: 101;
        top: 10.5%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 200%;
    }
    .dryCleanHeading{
        position: absolute;
        z-index: 106;
        bottom: 17%; 
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 80%;
        font-size: 200%;

    }
    .dryCleanImg{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        left: 0;
        right: 0;
        bottom: 17.9%; 
        z-index: 105;   
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
      .ParentDiv{
        text-align: center;
        padding: 8% 3%;
        margin: 10% 1%;
    }

    .ParentDiv textarea{
        background: color($colors, secondary)!important;
        border: 0px;
        resize: none;
        font-size: 200%;
        border: 2px solid #7D7979;    
        width: 100%;
        padding: 8% 4%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
           -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                box-sizing: border-box;         /* Opera/IE 8+ */
                
    }

      .careHeadingImg{
        position: absolute;
        z-index: 100;
        top: 28.5%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 80%;
    }

    .careH2{
        position: absolute;
        z-index: 101;
        top: 33%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 300%;
    }
    .dryCleanHeading{
        position: absolute;
        z-index: 106;
        bottom: -130%; 
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 80%;
        font-size: 300%;

    }
    .dryCleanImg{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        left: 0;
        right: 0;
        bottom: -130.5%; 
        z-index: 105;   
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}