
.additional-info-modal-styling{

    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-color:darkred; 
    ion-item-divider{
        color: white;
    }
    ion-content{
        height: 1000px;  
    }
}