
#map {
        width: 100%;
        height: 100% !important;
        color : color($colors, primary);
      }
#font-heading-color{
font-family: "Roman";
font-weight: 300;
color : white;
}
.text-lightgray-color{
font-family: "Roman";
color : lightseagreen;
}

.text-color{
font-family: "Roman";
color : white;
}

.upper-case{

    text-transform: uppercase;
}
.center-aligned{
text-align: center;
}
.congratulation-box-height{
    padding-top: 25%;
}
.congratulation-box-color{

   background-color:rgba(76, 175, 80, 0.25);
}

.congratulation-box-color-2{
   background-color: color($colors, secondary);
}

.notification-center-button{

    background-color: color($colors, primary);
    border-radius: 50%;
    -webkit-border-radius:50%;
    width: 60px;
    height: 60px; 
    font-size: 60px;
    text-align: center;
    display:table;
    margin: 0px auto 0px auto;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.55);
}
.bottom-button-padding{
    width: 100%; 
    padding-left: 5%;
    padding-right: 5%;
}
#bottom-content {
    bottom: 0;
    left: 0;
  }

.custom-bell-icon {
  font-size: 64px;
  color : white;
}

.fill-bg{
   background-color:color($colors, secondary);
 }