 <ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <img src="./assets/images/burger_menu.png" alt="" style =" width:15px; height: 15px;">
    </button>
    <ion-title color="primary">Complaints and Suggestions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="complaintsSuggestions">
<ion-row>
  <div class="heading">
      <ion-item-divider class="fill-bg"
                        style=" display: block;margin: 0 auto;
                                padding-top: 5px; 
                                padding-bottom: 5px; 
                                border-bottom: 0px">
        <div
        style="padding: 10px; 
              background: url('./assets/images/heading_bg.png');  
              text-align: center;
              background-size: 100%; 
              background-repeat: no-repeat;
              background-position: center;
              width: 100%; 
              height: 100%;"
                                    
                                    color="secondary">
        <p color="secondary" class="uppercase">Suggestions and Complaints</p>
        </div>
      </ion-item-divider>
      <ion-item-divider class="myBg">
        <div class="ParentDiv1">
          <textarea name="complaints" #complaints cols="30" rows="6" placeholder="Enter Suggestions and/or Complaints"></textarea>
        </div>
      </ion-item-divider>
    </div>
</ion-row>

<div class="heading">
      <ion-item-divider class="fill-bg"
                        style=" display: block;margin: 0 auto;
                                padding-top: 5px; 
                                padding-bottom: 5px; 
                                border-bottom: 0px">
        <div
        style="padding: 10px; 
              background: url('./assets/images/heading_bg.png');  
              text-align: center;
              background-size: 100%; 
              background-repeat: no-repeat;
              background-position: center;
              width: 100%; 
              height: 100%;"
                                    
                                    color="secondary">
        <p color="secondary" class="uppercase">History</p>
        </div>
      </ion-item-divider>
    </div>

    <ion-list style="height: 20vh; overflow-y: scroll; " class="fill-bg">
      <ion-item-divider class="fill-bg" *ngIf="complaints1 == ''" style="color: white">
        No Suggestions/Complaints found.
      </ion-item-divider>
      <ion-item-divider class="fill-bg" *ngFor="let item of complaints1" style="color: red;">
        {{ item }}
      </ion-item-divider>
    </ion-list>
    <div class="heading" *ngIf="null">
      <ion-item-divider class="fill-bg"
                        style="
                                padding-top: 5px; 
                                padding-bottom: 5px; 
                                border-bottom: 0px">
        <div 
        style="padding: 10px; 
              background: url('./assets/images/heading_bg.png');  
              text-align: center;
              background-size: 100%; 
              background-repeat: no-repeat;
              background-position: center;
              width: 100%; 
              height: 100%;"
                                    
                                    color="secondary">
        <p color="secondary" class="uppercase">Suggestions</p>
        </div>
      </ion-item-divider>
      <ion-item-divider class="myBg">
        <div class="ParentDiv1">
          <textarea name="suggestions" #suggestions cols="30" rows="6" placeholder="Enter Suggestions and/or complaints"></textarea>
        </div>
      </ion-item-divider>
    </div>
</ion-content>
<ion-footer color="secondary" style="padding: 10px">
        <button ion-button full style="height: 50px" (click)="startNextScreen(complaints.value)">
        <p style="font-size: 20px;" color="secondary" class="uppercase">Send</p>
        </button>
</ion-footer>